name: zap scan

on:
  push:
    branches: ["main"]
  workflow_dispatch:

jobs:
  zap-baseline:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: OWASP ZAP Baseline Scan
        uses: zaproxy/action-baseline@v0.15.0
        with:
          target: "https://juice-shop.herokuapp.com"
          allow_issue_writing: false     # não abre Issue no repo
          fail_action: false             # não quebra o pipeline se achar alerta
          artifact_name: "zap-report"    # nome do artifact com os relatórios
